#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#undef ZMK_MOUSE_DEFAULT_MOVE_VAL
#undef ZMK_MOUSE_DEFAULT_SCRL_VAL
#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 300
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 25    // 5

/ {
    behaviors {
        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            flavor = "tap-preferred";
        };

        mmv {
            acceleration-exponent = <6>;      // 1
            time-to-max-speed-ms = <40>;    // 40
            delay-ms = <1>;                   // 0
        };

        msc {
            acceleration-exponent = <2>;      // 0.5 (adjust to your preference)
            time-to-max-speed-ms = <100>;     // 500 (adjust to your preference)
            delay-ms = <2>;                   //   10
        };
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp GRAVE       &kp N1     &kp N2        &kp N3        &kp N4       &kp N5       &kp UP_ARROW     &kp N6     &kp N7     &kp N8     &kp N9           &kp N0      &kp BSLH
&kp TAB         &kp Q      &kp W         &kp E         &kp R        &kp T        &kp DOWN_ARROW   &kp Y      &kp U      &kp I      &kp O            &kp P       &kp LBKT
&kp LSHFT       &kp A      &kp S         &kp D         &kp F        &kp G        &kp LEFT_ARROW   &kp H      &kp J      &kp K      &kp L            &kp SEMI    &kp APOS
&kp LALT        &kp Z      &kp X         &kp C         &kp V        &kp B        &kp RIGHT_ARROW  &kp N      &kp M      &kp COMMA  &kp DOT          &kp FSLH    &kp RBKT
&kp C_MUTE      &kp PLUS     &kp EQUAL   &hm LCTRL ESC  &hm LCMD SPACE     &ltq 2 ENTER   &kp LS(ENTER)    &kp BACKSPACE    &ltq 1 SPACE  &hm RSHIFT CAPS &kp UNDER  &kp MINUS
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "BASE";
        };

        layer_1 {
            bindings = <
&kp F12     &kp F1           &kp F2          &kp F3           &kp F4           &kp F5           &kp UP_ARROW         &kp F6           &kp F7           &kp F8      &kp F9     &kp F10           &kp F11
&kp GRAVE   &kp N1           &kp N2          &kp N3           &kp N4           &kp N5           &kp DOWN_ARROW       &kp EXCL         &kp AT           &kp HASH    &kp DLLR   &kp PRCNT         &kp BSLH
&trans      &kp N6           &kp N7          &kp N8           &kp N9           &kp N0           &kp LEFT_ARROW       &kp CARET        &kp AMPS         &kp LPAR    &kp RPAR  &kp STAR           &kp APOS
&trans      &kp PIPE         &kp PLUS        &kp EQUAL        &kp LBRC         &kp RBRC         &kp RIGHT_ARROW      &kp LBKT         &kp RBKT         &kp UNDER    &kp MINUS     &kp FSLH      &trans
&kp C_MUTE  &trans           &trans          &kp LCTRL           &kp LCMD           &kp ENTER           &kp LS(ENTER)        &trans           &trans           &trans      &trans     &trans
            >;

            display-name = "LOWER";
            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        layer_2 {
            bindings = <
&trans         &bt BT_SEL 0              &bt BT_SEL 1           &bt BT_SEL 2        &bt BT_SEL 3        &bt BT_SEL 4             &mmv MOVE_UP        &trans        &trans       &trans           &trans            &trans      &trans
&trans         &bt BT_CLR                &bt BT_CLR_ALL         &out OUT_USB        &out OUT_BLE        &trans                   &mmv MOVE_DOWN      &kp PG_UP     &kp HOME     &kp UP           &kp END           &trans      &soft_off
&sys_reset     &rgb_ug RGB_OFF           &rgb_ug RGB_ON         &rgb_ug RGB_EFF     &rgb_ug RGB_EFR     &rgb_ug RGB_SPI          &mmv MOVE_LEFT      &kp PG_DN     &kp LEFT     &kp DOWN         &kp RIGHT_ARROW   &trans      &sys_reset
&bootloader    &rgb_ug RGB_BRI           &rgb_ug RGB_BRD        &trans              &trans              &trans                   &mmv MOVE_RIGHT     &trans        &trans       &trans           &trans            &trans      &bootloader
&trans         &trans                    &mkp MCLK              &mkp RCLK           &mkp LCLK           &trans                   &mkp LCLK           &kp RCMD      &kp RSHFT       &kp RCTRL           &kp RALT       &trans
            >;

            display-name = "RAISE";
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
