#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
// #include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#undef ZMK_MOUSE_DEFAULT_MOVE_VAL
#undef ZMK_MOUSE_DEFAULT_SCRL_VAL

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 300
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 25    // 5

/ {
    behaviors {
        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            flavor = "tap-preferred";
        };

        mmv {
            acceleration-exponent = <6>;      // 1
            time-to-max-speed-ms = <40>;    // 40
            delay-ms = <1>;                   // 0
        };

        msc {
            acceleration-exponent = <2>;      // 0.5 (adjust to your preference)
            time-to-max-speed-ms = <100>;     // 500 (adjust to your preference)
            delay-ms = <2>;                   //   10
        };
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none               &none  &none  &none          &none           &none           &kp UP_ARROW     &none             &none         &none            &none    &none     &none
&kp BSPC            &kp Q  &kp W  &kp E          &kp R           &kp T           &kp DOWN_ARROW   &kp Y             &kp U         &kp I            &kp O    &kp P     &kp LBKT
&hm LSHFT CAPS      &kp A  &kp S  &kp D          &kp F           &kp G           &kp LEFT_ARROW   &kp H             &kp J         &kp K            &kp L    &kp SEMI  &kp APOS
&hm LALT BACKSPACE  &kp Z  &kp X  &kp C          &kp V           &kp B           &kp RIGHT_ARROW  &kp N             &kp M         &kp COMMA        &kp DOT  &kp FSLH  &kp RBKT
&kp C_MUTE          &none  &none  &hm LCTRL ESC  &hm LCMD SPACE  &ltq 1 ENTER    &kp LS(ENTER)    &ltq 2 BACKSPACE  &ltq 1 SPACE  &hm RSHIFT CAPS  &none    &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "BASE";
        };

        layer_1 {
            bindings = <
&none         &none     &none     &none      &none      &none        &kp UP_ARROW     &none      &none       &none           &none              &none      &none
&kp GRAVE     &kp N1    &kp N2    &kp N3     &kp N4     &kp N5       &kp DOWN_ARROW   &kp EXCL   &kp AT      &kp LBKT        &kp RIGHT_BRACKET  &kp PRCNT  &kp BSLH
&kp LSHFT     &kp N6    &kp N7    &kp N8     &kp N9     &kp N0       &kp LEFT_ARROW   &kp CARET  &kp AMPS    &kp LPAR        &kp RPAR           &kp STAR   &kp COLON
&kp LEFT_ALT  &kp PIPE  &kp PLUS  &kp EQUAL  &kp UNDER  &kp MINUS    &kp RIGHT_ARROW  &kp HASH   &kp DOLLAR  &kp LEFT_BRACE  &kp RIGHT_BRACE    &kp FSLH   &kp SEMICOLON
&kp C_MUTE    &none     &none     &kp LCTRL  &kp LCMD   &trans       &kp LS(ENTER)    &mo 3      &trans      &trans          &none              &none
            >;

            display-name = "LOWER";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_2 {
            bindings = <
&none       &none   &none    &none      &none     &none        &mmv MOVE_UP     &none      &none      &none     &none            &none  &none
&kp ESC     &kp F1  &kp F2   &kp F3     &kp F4    &kp CAPS     &mmv MOVE_DOWN   &kp PG_UP  &kp HOME   &kp UP    &kp END          &none  &none
&kp LSHFT   &kp F5  &kp F6   &kp F7     &kp F8    &kp LSHFT    &mmv MOVE_LEFT   &kp PG_DN  &kp LEFT   &kp DOWN  &kp RIGHT_ARROW  &none  &none
&kp LCTRL   &kp F9  &kp F10  &kp F11    &kp F12   &kp LCTRL    &mmv MOVE_RIGHT  &kp ENTER  &none      &none     &none            &none  &none
&kp K_MUTE  &none   &none    &kp LCTRL  &kp LGUI  &mo 3        &mkp LCLK        &kp BSPC   &kp SPACE  &kp TAB   &none            &none
            >;

            display-name = "RAISE";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            bindings = <
&none            &none            &none           &none            &none            &none              &mmv MOVE_UP     &none           &none            &none              &none            &none          &none
&sys_reset       &bt BT_SEL 0     &bt BT_SEL 1    &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4       &mmv MOVE_DOWN   &msc SCRL_UP    &mkp MB1         &mmv MOVE_UP       &mkp MB2         &kp C_BRI_UP   &none
&rgb_ug RGB_BRI  &bt BT_CLR       &bt BT_CLR_ALL  &out OUT_USB     &out OUT_BLE     &bootloader        &mmv MOVE_LEFT   &msc SCRL_DOWN  &mmv MOVE_LEFT   &mmv MOVE_DOWN     &mmv MOVE_RIGHT  &kp C_BRI_DEC  &sys_reset
&rgb_ug RGB_BRD  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI    &mmv MOVE_RIGHT  &msc SCRL_LEFT  &msc SCRL_RIGHT  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp K_MUTE     &bootloader
&kp C_MUTE       &none            &none           &none            &none            &trans             &mkp LCLK        &none           &none            &none              &none            &none
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_INC C_BRI_DEC>;
        };
    };
};
